[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.111.0"
uvicorn = {extras = ["standard"], version = ">=0.29.0"}
sqlalchemy = ">=2.0.0"
pydantic = ">=2.8.0"
pydantic-settings = ">=2.3.0"
google-genai = ">=1.0.0"

[dev-packages]

[requires]
python_version = "3.13"
