#saudacao {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center
}

#texto_saudacao {
  font-family: 'Cabin';
  font-size: 100px;
  font-weight: bold;
  -webkit-text-fill-color: black;
}

#centralizadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/******************************************************************************************************************************/

#descricao {
  width: 90%;
  max-width: 709px;
  height: auto;
  min-height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#texto_descricao {
  font-family:'GoogleSansFlex';
  font-size: 36px;
  text-align: center;
}
/******************************************************************************************************************************/

/*Organizando o container principal dos botões*/
#botoes_TelaInicial {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  gap: 300px; 
  margin-top: 150px; 
}
/*Selecionando os componentes do container e os organizando*/
#botao_Entrar,#Criar_conta {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px; 
}

/*Estilização do botão Entrar*/
#botao_Entrar button {
  box-shadow: 0px 6px 0px hsla(130, 43%, 53%, 0.521);
  background-color: #5FB65C;
  width: 348px;
  height: 109px;
  border-radius: 25px 25px 25px 25px;
  -webkit-text-fill-color: #FFFFFF;
  font-family: 'Comme';
  font-size: 40px;
}

/*Estilização do texto de status de conta*/
#botao_Entrar p {
  font-family: 'GoogleSansFlex';
  font-size: 28px;
  -webkit-text-fill-color: #000000
}

/*Estilização do botão Criar Conta*/
#Criar_conta button {
  box-shadow: 0px 6px 0px lab(47.04% -0.97 0.28 / 0.329);
  background-color: #F6F6F6;
  width: 348px;
  height: 109px;
  border-radius: 25px 25px 25px 25px;
  font-family: 'Comme';
  font-size: 40px;
  -webkit-text-fill-color: #0C3E17;
}
/*Estilização do texto Criar Conta*/
#Criar_conta p {
  font-family: 'GoogleSansFlex';
  font-size: 28px;
  -webkit-text-fill-color: #000000
}

/******************************************************************************************************************************/
