#saudacao{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center
}

#texto_saudacao {
  font-family: 'Cabin';
  font-size: 100px;
  font-weight: bold;
  -webkit-text-fill-color: black;
  
}

#centralizadora{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/******************************************************************************************************************************/

#descricao{
  width: 90%;
  max-width: 709px;
  height: auto;
  min-height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#texto_descricao {
  font-family:'GoogleSansFlex';
  font-size: 36px;
  text-align: center;
}
/******************************************************************************************************************************/

/*Organizando o container principal*/
#botoes_TelaInicial {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  gap: 50px; 
  margin-top: 40px; 
}
/*Selecionando os componentes do container e os organizando*/
#botao_Entrar,#Criar_conta {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px; 
}

/*Estilização do botão Entrar*/
#botao_Entrar button {
  background-color: #5FB65C;
  width: 348px;
  height: 109px;
  border-radius: 20px 20px 20px 20px;
  -webkit-text-fill-color: #FFFFFF

}
/*Estilização do texto de status de conta*/
#botao_Entrar p{
  font-family: 'GoogleSansFlex';
  font-size: 28px;
  -webkit-text-fill-color: #000000
}

/*Estilização do botão Criar Conta*/
#Criar_conta button {
  background-color: #F6F6F6;
  width: 348px;
  height: 109px;
  border-radius: 20px 20px 20px 20px;
  font-family: 'Comme';
  font-size: 40px;
}
/*Estilização do texto Criar Conta*/
#Criar_conta {
  font-family: 'Comme';
  font-size: 30px;
}

/******************************************************************************************************************************/
